html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(0, 0, 0, 0.5);
} 


/*main style*/

.main {
    width: 1400px;
    margin: auto;
    /* background: #03eeff; */
   /* background: linear-gradient(270deg, #000000 0%, #FCFEFF 100%); */
}


/* LOGO */

.header {
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    width: 300px;
    height: 100px;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500px;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #010101;

}

.logo_photo {
    width: 100px;
    height: auto;
}

.logotext {
    font-weight: bold;
}

/* TOP SIDE */


.top_side {
    width: 100%;
    height: 720px;
    margin-bottom: 55px;
/*біла посолка зверху сторінки*/
    background: linear-gradient(270deg, #000000 0%, #FCFEFF 100%);
}


.white_square {
    position: absolute;
    height: 500px;
    width: 600px;
    margin-top: 120px;
    margin-left: 100px;
    background: #ffffff;
}


.good_evening {
    width: 290px;
    height: 24px;
    margin-top: 50px;
    margin-left: 55px;
    margin-bottom: 16px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    
    color: black;


}

.good_todo {
    width: 350px;
    height: 24px;
    margin-left: 55px;
    margin-bottom: 48px;

    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ff6b0a;

}

.name {
    width: 500px;
    height: 75px;
    margin-left: 55px;
    margin-bottom: 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;


}

.name_description {
    width: 500px;
    height: 100px;
    margin-left: 55px;
    margin-bottom: 30px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    }

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    width: 200px;
    height: 50px;
    margin-left: 56px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #FFFFFF;

    background: #ff6b0a;
    border-radius: 8px;
    border-color: #ff6b0a;
}

/* PHOTO ZONE */

.photo_zone {
    height: 670px;
    padding-top: 25px;
    margin-left: 760px;
}

.photo {
    transform: rotate(176.81deg);
}

.photo_background {
    padding-top: 30px;
    width: 600px;
    height: 650px;
    
    background: #b1ff4a42;
    border-radius: 150px;
    transform: rotate(-176.81deg);
    
}

/* Center SIDE */


.center {
    width: 1200px;
    height: 850px;
    margin: 0px 100px 30px;
}

.center_top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle_icon {
    width: 70px;
    height: auto;
}

.interesting_fact_name {
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Montserrat';
    font-style: bold;
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: black;
}

.if_description {
    margin-bottom: 24px;
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: black;

}

/*central panels*/

.lishka {
    height: 550px;
    /* display: flex; */
    /* display: block;
    flex-direction: column;
    justify-content: space-between; */
}

.left_panel,
.middle_panel,
.right_panel {
    /* position: absolute; */
    width: 380px;
    height: 550px;
    display: inline-block;
    text-align: center;
    /* flex-direction: column;
    align-items: center; */
}

.left_panel_photo,
.middle_panel_photo,
.right_panel_photo {
    width: 300px;
    height: auto;
    margin-bottom: 12px;
}

.right_panel_photo {
    width: 350px;
    height: 350px;
}

.left_panel_title,
.middle_panel_title,
.right_panel_title {
    width: 380px;
    height: 24px;
    margin-bottom: 32px;

    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: black;
}


.left_panel_text,
.middle_panel_text,
.right_panel_text {
    width: 375px;
    height: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.middle_panel,
.right_panel {
    margin-left: 24px;
}


/* .middle_panel {
    position: absolute;
    width: 380px;
    height: 550px;
    top: 1050px;
    left: 500px;

}


.right_panel {
    position: absolute;
    width: 380px;
    height: 550px;
    top: 1050px;
    left: 900px;

} */



.bottom_side {
    width: 1200px;
    height: 400px;
    margin: 0px 350px 50px;
    top: 1650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*біла посолка зверху сторінки*/
    background: linear-gradient(270deg, #000000 0%, #FCFEFF 100%);

}



.bottom_middle_icon {
    width: 70px;
    height: auto;

}

.bottom_side_text {

    width: 800px;
    height: 100px;
    left: 250px;
    bottom: 150px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 100px;
    color: black;

}

.bottom_side_description {

    width: 900px;
    height: 50px;
    left: 150px;
    bottom: 100px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: black;

}



/*< !--Center side--><div><h1>Цікаві факти про бандерогусей</h1><p>Зазвичай бандерогуси — виключно мирні птахи. Але у разі небезпеки можуть атакувати ворога системою надпотужного озброєння. Також нищать психологічно,
активуючи високочастотне шипіння та розмахування крилами</p>< !--left bar--><div><img src=""alt=""><h3>Система навігації</h3><p>Супутниковий GPS та ехолокатори розпізнають ворожу техніку навіть на етапі збірки</p></div>< !--middle bar--><div><img src=""alt=""><h3>Очі-тепловізори</h3><p>Допомагають виявити характер сигнатури об’єктів та значно підвищують точність удару</p></div>< !--right bar--><div><img src=""alt=""><h3>Байракрила</h3><p>Можуть нести 2-4 керовані ракети,
що вражають ціль на відстані «ніхріна собі» кілометрів</p></div></div>< !--Down side--><div><h1>Перемога завжди за нами !</h1><p>Головна мета бандерогусей — служити гумору та доброті нашого народу. Ми забезпечимо вашу посмішку у часи,
коли вона так необхідна</p></div></div>*/